{% extends "base.html" %}

{% block content %}
    <h1 class="course">{{course}}, Section {{ section }}</h1>
    <form method="post" action="{{ url_for('main.delete_course', course_name=course, section_name=section) }}"
        onsubmit="return confirm('Really delete course? This cannot be undone.');">
        <button type="submit" class="btn btn-danger">Delete Course</button>
    </form>
    <br>
    <a href="/auth/course/{{ course }}/{{ section }}/assignment_add">Add Assignment</a>
    {% if assignments %}
        <p>To Do</p>
        {% for assignment in assignments %}
            <ul>
                <li class="course">
                    <a href="{{ url_for('main.assignment', course_name=course, section_name=section,
                    assignment_name=assignment.name, assignment_points=assignment.points) }}">
                        {{ assignment.name }}, Worth {{ assignment.points }} points</a></li>
            </ul>
        {% endfor %}
    {% endif %}
{% endblock %}