{% extends "base.html" %}

{% block content %}
    <h1 class="course">{{course}}, Section {{ section }}</h1>
    {% if role=="instructor" %}
    <form method="post" action="{{ url_for('main.delete_course', course_name=course, section_name=section) }}"
        onsubmit="return confirm('Really delete course? This cannot be undone.');">
        <input type="hidden" name="role" value="{{ role or request.args.get('role') }}">
        <button type="submit" class="btn btn-danger">Delete Course</button>
    </form>
    <br>
    <a href="{{url_for('auth.assignment_add',
                    course_name=course,
                    section_name=section,
                    role=role)}}">Add Assignment</a>
    {% endif %}

    <hr>

    <h2> Annoucements </h2>
    {% if role == "instructor" %}
        <a href="{{url_for('main.add_announcement', course_name=course, section_name=section, role=role) }}"
           class="btn btn-primary">
            Add Announcement
        </a>
{% endif %}

{% if course_announcements %}
    <ul>
        {% for announcement in course_announcements %}
        <li>
            <strong>{{ announcement.title }}</strong><br>
            {{ announcement.content }}<br>
            <small>
                Posted on {{ announcement.timestamp.strftime('%b, %d, %Y, %I:%M %p') }}
            </small>
        </li>
        {% endfor %}
    </ul>
{% else %}
<p> No announcements have been posted yet</p>
{% endif %}

    {% if assignments %}
        <p>To Do</p>
        {% for assignment in assignments %}
            <ul>
                <li class="course">
                    <a href="{{ url_for('main.assignment', course_name=course, section_name=section,
                    assignment_name=assignment.name, assignment_points=assignment.points, role=role) }}">
                        {{ assignment.name }}, Worth {{ assignment.points }} points</a></li>
            </ul>
        {% endfor %}
    {% endif %}
    <h3>Completed Assignments</h3>
    {% if completed_assignments %}
    <ul>
    {% for a in completed_assignments %}
        {% if a.section == section %}
            <li>{{ a.name }} — {{ a.points }} pts</li>
             {% if role=="instructor" %}
                <form method="POST"
      action="{{ url_for('main.grade_assignment',
                         course=course,
                         section=a.section,
                         assignment=a.name, role=role) }}">
      <input type="number"
             name="grade"
             min="0"
             max="{{ a.points }}">
      <button type="submit">Grade</button>
    </form>
            {% endif %}
        {% endif %}
    {% endfor %}
    </ul>
    {% else %}
        <p>Completed Assignments appear here</p>
    {% endif %}
{% endblock %}