{% extends "base.html" %}

{% block content %}
<h1 class="login">Sign in</h1>
    <div class="login">
    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}
        <p class="login">
            {{ form.username.label }} <br>
            {{ form.username(size=32) }}

        </p>

         <p class="login"> {{form.password.label}} <br>
            {{form.password(size=32)}}</p>

        <p class="login">{{ form.role.label }}<br>
            {{ form.role() }}</p>
        <p class="login"> {{form.remember_me.label}} <br>
       {{form.remember_me()}}</p>

    <p class="login" class="btn-primary">{{form.submit()}}</p>
    </form>
    </div>
{% endblock %}