<html>
    <head>
        <title>LearnQuest</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <nav>
            <a href="/">Home</a>
<!--            <a href="/feature">Feature</a> -->
            <a href="/auth/login">Login</a>
            <a href="/auth/course_add">Course Add</a>
          </nav>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>